# Секретный ключ приложения (измените на случайную строку при деплое)
SECRET_KEY=dev_key_change_me_123

# Путь к базе данных
DATABASE_URL=sqlite:///instance/feedback_v5.db

# Настройки администратора
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin